        <section class="section">
            <%- include("./notifications.ejs", {}) %>
            <div class="container">
                <form action="/login" method="POST" id="loginForm">
                    <div class="field">
                        <label class="label">Nom d'utilisateur</label>
                        <div class="control">
                            <input class="input" type="text" autocomplete="username" placeholder="Nom d'utilisateur" name="username" id="username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Mot de passe</label>
                        <div class="control">
                            <input class="input" type="password" autocomplete="current-password" placeholder="********" name="password" id="password">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="submit" class="button is-info" id="submit"></input>
                        </div>
                        <div class="control">
                            <input type="reset" class="button is-text" id="reset"></input>
                        </div>
                    </div>
                </form>
            </div>
        </section>