        <section class="section">
            <div class="container">
                <form action="/register" method="POST">
                    <div class="field">
                        <label class="label">Prénom</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Prénom" autocomplete="given-name" name="prenom" id="prenom">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Nom</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Nom" autocomplete="family-name" name="nom" id="nom">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Email" autocomplete="email" name="email" id="email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Nom d'utilisateur</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Nom d'utilisateur" autocomplete="username" name="nomUtilisateur" id="nomUtilisateur">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Mot de passe</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="********" autocomplete="new-password" name="motDePasse" id="motDePasse">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Confirmation</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="********" autocomplete="off" name="confirmation" id="confirmation">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-info">Soumettre</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="reset" class="button is-text">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>