        <section class="section" id="welcome">
            <div class="container">
                <article class="message">
                    <div class="message-header">
                        <p>Bienvenue</p>
                        <button class="delete" aria-label="delete" onclick="removeWelcome()" id="closeWelcome"></button>
                    </div>
                    <div class="message-body">
                        Bienvenue sur la nouvelle plateforme Gyrocap ! Nous sommes en cours de développement, n'hésitez pas à nous faire part de vos suggestions <a href="#">ICI</a>.
                    </div>
                </article>
            </div>
        </section>