        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Gyrocap Platform</strong> par <a href="#">Adrian Pothuaud</a>.
                </p>
                <p>
                    &copy;2019 Gyrocap
                </p>
            </div>
        </footer>
        <% scripts.forEach(function(script){ %>
            <script src="js/<%= script %>"></script>
        <% }); %>
    </body>
</html>