<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="bulma.css">
        <link rel="stylesheet" href="font-awesome.css">
        <link rel="stylesheet" href="css/positions.css">
        <script src="jquery.js"></script>
        <title><%= "Gyrocap - " + pageTitle %></title>
    </head>
    <body>